

/************************************************************ MAP SECTION */

/********************************* map structure */
#mapid {
    height: 780px;
}

/********************************* station icons */
.station-icon {
    width: 10px;
    height: 10px;
    background: #2C7BBF;
    border: white 2px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-top: -9px !important;
}

.station-icon.zone1 {
    box-shadow: 0 0 0px 3px #666;
}

.station-icon.pinkreader-true {
    box-shadow: 0 0 0px 6px #eeb5eb;
}

.station-icon.line-bakerloo {
    background-color: #B36305;
}

.station-icon.line-central {
    background-color: #E32017;
}

.station-icon.line-circle {
    background-color: #FFD300;
}

.station-icon.line-district {
    background-color: #00782A;
}

.station-icon.line-dlr {
    background-color: #00A4A7;
}

.station-icon.line-hammersmith-and-city {
    background-color: #F3A9BB;
}

.station-icon.line-jubilee {
    background-color: #A0A5A9;
}

.station-icon.line-metropolitan {
    background-color: #9B0056;
}

.station-icon.line-northern {
    background-color: #000000;
}

.station-icon.line-london-overground {
    background-color: #EE7C0E;
}

.station-icon.line-piccadilly {
    background-color: #003688;
}

.station-icon.line-victoria {
    background-color: #0098D4;
}

.station-icon.line-waterloo-and-city {
    background-color: #95CDBA;
}

.station-icon.line-interchange {
    background-color: #ddd;
}


/********************************* station labels */
.station-label {
    white-space: nowrap;
    position: relative;
    left: 20px;
    bottom: 3px;
    bottom: 8px;
    font-size: 12px;
    display: none;
}

.station-label span {
    background-color: #fbfbfb;
    padding: 3px;
    padding: 5px;
    border: 1px solid #ccc;
    width: fit-content; /* got me out of issues! */
    color: #252525;
    border-radius: 5px;
}

/*
make the largest and smallest label sizes invisible on page load (at the desired zoom)
why not do with JS? the events i thought i could leverage to achieve this don't seem to work
i have used events for zoom change so JS can handle it after the page has loaded
*/
.fullname,
.mininame {
    display: none;
}


/********************************* layer group */

/*
needed to use nth child for checkbox labels as leaflet does not add classes/IDs from properties specified
these labels have the relevant line colour added as background
so be careful if you add/remove/reorder lines at any point
*/
.leaflet-control-layers-overlays label:nth-child(1) div span {
    background-color: #E32017;
}

.leaflet-control-layers-overlays label:nth-child(2) div span {
    background-color: #F3A9BB;
}

.leaflet-control-layers-overlays label:nth-child(3) div span {
    background-color: #FFD300;
}

.leaflet-control-layers-overlays label:nth-child(4) div span {
    background-color: #EE7C0E;
}

.leaflet-control-layers-overlays label:nth-child(5) div span {
    background-color: #95CDBA;
}

.leaflet-control-layers-overlays label:nth-child(6) div span {
    background-color: #A0A5A9;
}

.leaflet-control-layers-overlays label:nth-child(7) div span {
    background-color: #B36305;
}

.leaflet-control-layers-overlays label:nth-child(8) div span {
    background-color: #9B0056;
}

.leaflet-control-layers-overlays label:nth-child(9) div span {
    background-color: #003688;
}

.leaflet-control-layers-overlays label:nth-child(10) div span {
    background-color: #000000;
}

.leaflet-control-layers-overlays label:nth-child(11) div span {
    background-color: #00782A;
}

.leaflet-control-layers-overlays label:nth-child(12) div span {
    background-color: #00A4A7;
}

.leaflet-control-layers-overlays label:nth-child(13) div span {
    background-color: #0098D4;
}

/*  labels text */
.leaflet-control-layers-overlays label div span {
    font-size: 0.9em;
    padding: 1px;
    color: white;
    font-weight: 500;
    padding-right: 5px;
}

label#hideStations, .key-description, span.showhide {
    max-width:170px; /* added UI elements - prevent big width changes */
    display: block; /* treats span as div */
}

/* adds some spacing for all the children of #layerui ie the UI i  added to the layer control  */
#layerui > * {
margin-top: 10px;margin-bottom: 10px;
}

.leaflet-control-layers-overlays{padding-top:10px;}